body {
    font-family: sans-serif;
    background-color: #009DDC;
    color: #2A2D34;
}
h1 {
    text-align: center;
}
#pager {
    display:flex;
    justify-content: space-evenly;
}
#results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2%;
    
}
#results > div {
    border-style: solid;
    background-color: #6761A8;
}
img {
    width: 60%;
    height: auto;
    border-style: solid;
    border-color: #F26430;
}
.selected {
    background-color: yellow;
    color: red
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
